# Xcode
.DS_Store
*.xcworkspace
*.xcuserdata
*.xccheckout
*.xcscmblueprint
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/*.pbxuser
*.xcodeproj/*.mode1v3
*.xcodeproj/*.mode2v3
*.xcodeproj/*.perspectivev3
DerivedData/
.idea/
Pods/
Carthage/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
fastlane/*.lock
*.ipa
*.xcarchive
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/xcode/package.xcworkspace/
.swiftpm/build/
.swiftpm/repositories/

# Swift Playgrounds
timeline.xctimeline
playground.xcworkspace

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/
Carthage/Checkouts/

# Output files
*.log
*.profdata
*.plist
*.xcresult

# Swift Package Manager Binary Caches
.xcframework
